<app-titulo [titulo]="Titulo">
</app-titulo>

<div class="container">


    <app-no-hay-datos [noHayDatosParaMostar]="!hayDatosParaMostrar">
    </app-no-hay-datos>


    <div class="row justify-content-center p-2 mb-2">

        <div class="col-4 text-center">
            <button class="btn btn-primary" (click)="registrarVisita = !registrarVisita">
         Nueva <i class="fa fa-plus"></i>
      </button>
        </div>
    </div>

    <div *ngIf="registrarVisita" class="row justify-content-center mb-3">
        <div class="col-12 col-md-10 col-lg-6 d-flex flex-column ">
            <h4 class="text-center">Nueva visita</h4>

            <div class="form-group">
                <label for="txtDescripcion">Nombre visitante:</label>
                <input type="text" class="form-control" id="txtDescripcion" placeholder="Nombre" [(ngModel)]="nuevaVisita.NombreVisitante">
            </div>

            <div class="form-group">
                <label for="txtDescripcion">Descripción:</label>
                <input type="text" class="form-control" id="txtDescripcion" placeholder="Descripción" [(ngModel)]="nuevaVisita.Descripcion">
            </div>

            <div class="form-group">
                <label for="txtDescripcion">Fecha visita:</label>
                <div class="p-1 m-1">
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group justify-content-center ">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="d1" #c2="ngModel" [(ngModel)]="fechaVisita" ngbDatepicker #d1="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                                      <i class="fa fa-calendar"></i>
                                  </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="form-group m-1 p-1 justify-content-center d-flex">
                <button class="btn btn-success" (click)="guardar_nueva_visita()">Guardar</button>
            </div>

        </div>
    </div>


    <table *ngIf="hayDatosParaMostrar" class="table  table-borderless " style="overflow-x: scroll">
        <thead>
            <tr>
                <th>Visitante</th>
                <th class="d-none d-lg-block">Descripcion</th>
                <th>Fecha</th>
                <th> Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr [ngClass]="{'bg-light': ! (i % 2) }" *ngFor="let visita of visitas; let i = index">
                <td> {{visita.NombreVisitante }} </td>
                <td class="d-none d-lg-block"> {{visita.Descripcion}} </td>
                <td> {{visita.Fecha_visita | date:'mediumDate' }} </td>
                <td>
                    <button class="btn btn-danger" (click)="eliminar_visita(visita.id)">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </td>

            </tr>
        </tbody>
    </table>




</div>

<app-loading [mostrar]="cargando">
</app-loading>