


<span *ngIf="estadoId == 1" class="text-dark p-2 bold align-middle"> <strong> Pendiente </strong> </span>
<span *ngIf="estadoId == 2" class="text-success bold p-2"> <strong>  Aprobada </strong> </span>
<span *ngIf="estadoId == 3" class="text-danger p-2"> <strong> Denegada </strong> </span>
<span *ngIf="estadoId == 4" class="text-secondary p-2"> <strong> Cancelada </strong></span>
<span *ngIf="estadoId == 5" class="text-warning p-2"> <strong> Salida </strong> </span>
<span *ngIf="estadoId == 6" class="text-primary p-2">   <strong>  Finalizada </strong> </span>