
 .navbar{    
    background-color: #FFEE11;
    background: #FFEE11;

}

#imgPerfil{

    color: #003D7B;
    font-size: 30px;
}

.iconNavbar{
    color: #003D7B;
}


#imgLogo
    {
        width: 45px;
        height: 45px;
    }
