.navbar {
    background-color: #FFEE11;
    background: #FFEE11;
}

#imgPerfil {
    color: #003D7B;
    /* color: #f2f2f2; */
    font-size: 30px;
}

.iconNavbar {
    color: #003D7B;
    /* color: #f2f2f2; */
}

#imgLogo {
    width: 45px;
    height: 45px;
}