<app-titulo [titulo]="Titulo">
</app-titulo> 
<div class="container">
  <div class="row justify-content-center m-4" >
    <div class="col-10 col-md-10  justify-content-center">


     <div *ngIf="!yaSeMostroAlerta" class="row justify-content-center">
        <div class="col-12 col-md-10 py-2">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrar_alerta()" >
                  <span aria-hidden="true">×</span>
                </button>
                <strong>¡Atención!</strong> Cualquier colaborador encargado de aprobar pases en tu área podrá atender el tuyo.
                <br>
                A medida vayas completando los datos se irán mostrando más campos necesarios.
              </div>            
        </div>  
     </div>

    

<!-- 1) COLABORADOR -->
      <div class="row justify-content-center">
          <div class="col-12 col-md-10 justify-content-center">
            <span class="p-1"> <strong> 1) Colaborador solicita: </strong> </span>  
            <br>
            
            <div class="row">

              <div class="col-10 offset-md-1">

                <div class="alert alert-secondary text-center m-1 mt-3" role="alert">
                  <div class="row">
                    <div class="col-3">
                      Código:
                    </div>
                    <div class="col-3 text-left">
                      <span>{{empleadoCodigo}}</span>  
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-3">
                      Nombre: 
                    </div>
                    <div class="col-8 text-left">
                      <strong>{{empleadoNombre}}</strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            
            
            <div class="row justify-content-end">
              <div *ngIf="!buscarOtroColaborador" class="col text-center">
                <button class="btn btn-link  btn-sm text-right" (click)="buscarOtroColaborador = true">
                    <span>  Solicitar pase para otro colaborador </span>
                </button>
              </div>
              <div *ngIf="buscarOtroColaborador" class="col text-center">
                <button class="btn btn-link text-danger  btn-sm text-right" (click)="buscarOtroColaborador = false">
                    Ocultar
                </button>
              </div>              
            </div>

            
            <div *ngIf="buscarOtroColaborador" class="row justify-content-center p-1">
              <div class="col-10 col-md-10">
                <input class="form-control mr-sm-2" type="search" placeholder="Código o Nombre" aria-label="Search" (keydown)="onKeydown($event)" [(ngModel)]="txtTerminoBusqueda">
                          
              <div class="col-12 justify-content-center d-flex pt-2 mt-2">
                  <button class="btn btn-success m-1" (click)="buscar_colaborador()"> Buscar</button>
              </div>

                
              </div>
            </div>

            <app-loading [mostrar]="cargandoColaboradores">
            </app-loading>

            <div *ngIf="buscarOtroColaborador && empleados.length == 0 " class="row justify-content-center  d-flex   flex-column p-2 m-2">
              <div class="text-center" >
                <h6 style="font-size : 1.5rem; color:gray">
                  No hay resultados
                </h6>  
              </div> 
              <div class="text-center">
                  <i class="fas fa-frown fa-2x text-dark" style="font-size: 60px;"></i>
              </div> 
            </div>

            <div *ngIf="buscarOtroColaborador && empleados.length > 0" class="row justify-content-center" style="max-height: 500px; overflow-y: scroll;">
               <div class="col-12 col-md-10">
                  <table class="table">
                      <thead class="thead-light">
                        <tr>
                          <th>Código</th>
                          <th>Nombre</th>
                          <th>Seleccionar</th>                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr  *ngFor="let empleado of empleados">
                          <td>{{empleado.Id}}</td>
                          <td>{{empleado.Nombre}}</td>
                          <td>
                              <button class="btn btn-info btn-sm"  (click)="seleccionar_solicitante(empleado)"> Seleccionar </button>
                          </td>
                        </tr>
                      </tbody>
                  </table>
               </div>
            </div>
          </div>
      </div>
<!-- -->

<!--2) MOTIVO -->
      <div class="row justify-content-center py-2">
              
        <div class="col-10  col-md-10 ">
            <span class="p-1"> <strong> 2) Motivo salida: </strong> </span>  
         
            <div class="col-10 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
              <select class="custom-select mt-3" [(ngModel)]="motivoSelected" (ngModelChange)="cambio_motivo(motivoSelected)" >
                <option value="-1">Selecciona un motivo</option>
                <option [value]="motivo.Id"  *ngFor="let motivo of motivosSalida; let i = index">{{motivo.Descripcion}}</option>
              </select>

              <div *ngIf="requiereObservacion" class="pt-2">
                <span class=""> comentario:</span>  
                <textarea class="form-control mt-2 pt-2" [(ngModel)]="txtComentario"  placeholder="Comentario">
                </textarea>
              </div>
            </div>
          </div>
      </div>
<!--  -->


<!-- 3) ASIGNAR -->

<!-- <div *ngIf="validar_mostrar_seccion_asignar()" class="row justify-content-center py-2">
  <div class="col-xs-10 col-md-10 ">
      <span class="p-1"> <strong> 3) Asignar: </strong> </span>  
          <div class="col-sm-10 col-md-8 col-lg-6 offset-md-2 offset-lg-3">
              <select class="custom-select mt-3" [(ngModel)]="idUsuarioAutoriza">
                <option value="-1" selected="">Seleccionar</option>
                <option [value]="colaborador.Id"  *ngFor="let colaborador of colaboradoresAutorizan;">{{colaborador.Nombre}}</option>
              </select>  
          </div>
      <app-loading [mostrar]="cargandoUsuariosAprueban">
      </app-loading>
  </div>
</div>       -->

<!--  -->



<!-- 4) HORA -->
      <div *ngIf="validar_mostrar_seccion_hora()" class="row justify-content-center mt-2 pt-2">
              
          <div class="col-12 col-md-10 ">
              <span class="p-1"> <strong> 3) Hora estimada de salida y regreso: </strong> </span>  
           
              <!-- <div class="col-sm-10 col-md-6 offset-md-3 justify-content-center"> -->
              <div class="col">

                  <div class="row p-1">
                      <div class="col ml-4">
                        <div class="custom-control custom-checkbox ">
                          <input type="checkbox" class="custom-control-input" id="customCheck1" [(ngModel)]="chkRegresa">
                          <label class="custom-control-label " for="customCheck1"> Regresa </label>
                        </div>
                      </div>
                    </div>                
                  <div class="row p-4">
                    <div class="col ml-4">
                      <span class="p-1"> Salida: </span>    
                        <ngb-timepicker [(ngModel)]="horaSalida" [meridian]="meridian">
                        </ngb-timepicker>
                    </div>
                    <div class="col ml-4">
                      <div *ngIf="chkRegresa">
                        <span class="p-1"> Regresa: </span>    
                        <ngb-timepicker [(ngModel)]="horaEntrada" [meridian]="meridian">
                        </ngb-timepicker>                  
                      </div>
                    </div>
                  </div>

                <hr>
              </div>
            </div>
      </div>      
<!--  -->




<!-- 5) CREAR -->
      <div *ngIf="validar_mostrar_seccion_guardar()" class="row justify-content-center mt-2 pt-2">    
          <div class="col-10  col-md-10 ">
              <span class="p-1"> <strong> 4) Crear: </strong> </span>  
              
            <app-loading [mostrar]="cargando">
            </app-loading>

              <div class="col-12 justify-content-center d-flex p-2 m-2">
                  <button class="btn btn-success" [disabled]="!btnGuardarEnable" (click)="guardar_solicitud()">
                      Crear
                    </button>
              </div>
          </div>        
      </div>  
<!--  -->

    </div>
  </div>
</div>


